<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @product.nama %>
</p>

<p>
  <strong>Kode:</strong>
  <%= @product.kode %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
